.blog-img {
  background: url("../Images/nature.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-blog {
  cursor: pointer;
}

.first-blog:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
