.blog-img {
  background: url("../Images/nature.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-blog {
  cursor: pointer;
}

.first-blog:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.6s ease-out forwards;
}

.animate-delay-1 {
  animation-delay: 0.3s;
}
.animate-delay-2 {
  animation-delay: 0.6s;
}
.animate-delay-3 {
  animation-delay: 0.9s;
}
.animate-delay-4 {
  animation-delay: 1.2s;
}

.our-blog {
  background-color: #e5e7eb;
}



