.cat-background {
  background: url("../Images/cat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  opacity: 0.8;
}

.dog-background {
  background: url("../Images/dog.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  opacity: 0.8;
}

.cat-background h4,
.cat-background p,
.dog-background h4,
.dog-background p {
  color: white;
  font-weight: bold;
}

.cat-background h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
