.camera-icon {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
  opacity: 0;
  &:hover {
    color: #fff;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
  border-radius: 50%;
}

.profile-picture:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.profile-picture:hover .camera-icon {
  color: #fff;
  opacity: 0.7;
}
